* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Iosevka, sans-serif;
    font-size: 16px;
    min-height: 0;
	color: #fff;
	background: #000;
}

#workspaces {
    margin: 0 4px;
}
#workspaces button.focused {
	border-top: 2px solid #fff;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
